*, *::before, *::after {
  *, *::before, *::after {
    box-sizing: border-box;
  }
}

body {
  font-family: $mainfont;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: rem-calc(1200px);
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

ul {
  padding-left: 0;
}

button {
  border: 0;
  border-radius: 0;
  background-color: $secondbrandcolour;
  padding: rem-calc(12px 25px);
  font-weight: $bold;
  letter-spacing: rem-calc(2px);
  color: $white;
  outline: none;
}
