#alphabet {
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      button {
        background-color: $mainbrandcolour;
        border: none;
        outline: none;
        border-radius: 0;
        color: $white;
        padding: rem-calc(8px 10px);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &.disable {
          opacity: 0.7;
          background-color: $red;
          pointer-events: none;
          cursor: not-allowed;
        }
      }
    }
  }
}

#hangman-word {
  .span-wrap {
    border-bottom: 1px solid $dark;
    min-width: 20px;
    margin-right: 5px;
    display: inline-block;
    text-align : center;
    &:last-child {
      margin-right: 0;
    }
    .letter {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      &.correct {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
    }
  }
}

.end-image {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  &.open {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  h2 {
    text-align: center;
    padding: rem-calc(50px);
    font-size: rem-calc(60px);
    text-transform: uppercase;
    letter-spacing: rem-calc(2px);
    color: $white;
  }
}

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hangman-icon {
  height: 350px;
}
