// Fonts
$mainfont: 'Lato', sans-serif;

// Font weight.
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Colours.
$dark: #333333;
$mainbrandcolour: #0033a0;
$secondbrandcolour: #ff00eb;
$red: red;
$white: #ffffff;
